<% @vote = Vote.new %>
<table style="background: #eee; margin: 5px; border-radius: 5px; width:100%;">
  <tr>
    <td style="text-align: center;">
      <!-- Upvote Button -->
      <%= form_for @vote, remote: true do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :response_id, :value => @response.id %>
        <%= f.hidden_field :value, :value => 1 %>
        <%= f.button "⬆︎", :class => "btn btn-default btn-xs" %>
      <% end %>
      <!-- Downvote Button -->
      <%= form_for @vote, remote: true do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :response_id, :value => @response.id %>
        <%= f.hidden_field :value, :value => -1 %>
        <%= f.button "⬇︎", :class => "btn btn-default btn-xs" %>
      <% end %>
    </td>
    <td style="padding: 5px; vertical-align: text-top;">
      <%= @response.response %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="font-size: 75%;">
      <span id="response_<%= @response.id %>_score"><%= @response.score %></span> points | Written by <strong><%= @response.user.full_name %></strong>
    </td>
  </tr>

</table>




