
  <%= form_for @response, remote: true do |f| %>
    <div class="col-md-6">
      <br>
      <div class="form-group">
        <%= f.label :response %>
        <%= f.text_field :response, :class => "form-control" %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :question_id, :value => @question.id %>
      </div>
      <%= f.submit "Submit", :class => "btn btn-default" %>
    </div>
  <% end %>
